<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Receipts</title>
</head>

<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            <a href="{% url 'account_list' %}">Account List</a>
            <a href="{% url 'category_list' %}">Category List</a>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="% url 'signup' %">Signup</a>
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>List of Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Category</th>
                    <th>Account</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for receipt in receipts %}
                    <td>{{ receipt.vendor }}</td>
                    <td>{{ receipt.total }}</td>
                    <td>{{ receipt.tax }}</td>
                    <td>{{ receipt.category.name }}</td>
                    <td>{{ receipt.account.name }}</td>
                    <td>{{ receipt.date|date:'m/d/y' }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </main>
</body>

</html>
